---
id: download_firmware
title: Firmware Downloads
sidebar_label: Firmware Downloads
description: Precompiled QMK firmware for VIA-supported keyboards
keywords:
- via
- qmk
- firmware
---

import * as fileDownload from "js-file-download";
const downloadText = (url, filename) =>
  fetch(url)
    .then((response) => response.text())
    .then((text) => fileDownload(text, filename));

export const Download = ({ filename }) => {
  const url = `https://raw.githubusercontent.com/the-via/firmware/master/${filename}`;
  const isHex = filename.endsWith(".hex");
  const href = isHex ? "#0" : url;
  const handleClick = isHex ? () => downloadText(url, filename) : undefined;
  return (
    <li>
      <a href={href} onClick={handleClick}>
        {filename}
      </a>
    </li>
  );
};

Last updated: {{date}}

<ul>
  {{#content}}
  <Download filename="{{path}}"></Download>
  {{/content}}
</ul>